<h1>Welcome to Rrrrrretflix!</h1>
<br>
<p>The <strong>only</strong> place to find your favorite titles!</p>
<br>
Please see our movie selection below, and start picking your fave titles!</p>

<ul>
	<li><span><%= @movies.each do |title| puts "#{title}\n" end%> </span></li>
</ul>
 