Rock Paper Scissor PAGE

<h1> You must pick a method!</h1>

<h2>Click one below:</h2>

<%= link_to image_tag("rock_paper_scissors/paper.jpeg"), rock_paper_scissor_path("paper") %>
<%= link_to image_tag("rock_paper_scissors/rock.jpeg"), rock_paper_scissor_path("rock") %>
<%= link_to image_tag("rock_paper_scissors/scissors.jpeg"), rock_paper_scissor_path("scissors") %>
