<h1>Welcome to the Game Center!</h1>

<p>Choose a game below to get started:</p>

<br/>
  <ul>
      <li><%= link_to 'SECRET NUMBER', new_secret_number_path%></li>
      <li><%= link_to 'ROCK PAPER SCISSORS', new_rock_paper_scissor_path%></li>
  </ul>
